#navbar {
    background: rgb(14, 104, 54);
    display: block;
    float: left;
    height: 100%;
}

.nav-item {
    border-bottom: 4px solid white;
    margin: none;
    padding-left: 0;
    padding-right: 0;
}